.battle-container {
  width: 100%;
  padding: 1rem 0;
  justify-content: space-between;
  align-content: space-between;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.battle-top {
  display: flex;
  justify-content: space-between;
  height: 48px;
}

.battle-fighters {
  display: flex;
  justify-content: space-evenly;
}

.battle-audience {
  display: flex;
  justify-content: space-evenly;
}

.lifebar {
  border: 4px solid #fff;
  padding: 0px;
  background: #ba5563;
  width: 100%;
  margin: 10px 1% 0px 10px;
  border-radius: 0px 10px 10px 0px;
  &:first-child {
    margin: 10px 10px 0px 1%;
    border-radius: 10px 0px 0px 10px;
  }
}

.battle-ko {
  font-family: $font-3;
  font-size: 55px;
  transform: rotate(5deg);
  margin-top: -1.25vh;
  text-shadow: 2px 3px 0px rgba(#ba5563, 1);
  color: yellow;
}

.battle-hashtag {
  font-family: $font-3;
  font-size: 60px;
  text-shadow: 2px 3px 0px rgba(yellow, 1);
  color: #ba5563;
}

.battle-info {
  .battle-name {
    font-size: 40px;
    text-shadow: 2px 3px 0px rgba(#ba5563, 1);
    color: yellow;
  }
  .battle-content {
  }
}
