@import url("https://fonts.googleapis.com/css?family=Bangers|Luckiest+Guy|Permanent+Marker|Schoolbell&display=swap");

$font-1: "Permanent Marker";
$font-2: "Luckiest Guy";
$font-3: "Bangers";
$font-4: "Schoolbell", cursive;
