.navlink {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
.title {
  font-family: $font-3;
  font-size: 50px;
  text-shadow: 2px 3px 0px rgba(yellow, 1);
  color: #ba5563;
}

.title-2 {
  font-size: 35px;
  text-shadow: 2px 3px 0px rgba(#ba5563, 1);
  color: yellow;
  font-family: $font-3;
}

.button {
  text-transform: capitalize !important;
}
