.header-title {
  flex-grow: 1;
  font-family: $font-2 !important;
  a {
    color: #fff;
  }
}
.header {
  display: flex;
}
.drawer-paper {
  width: 230px;
}

.header-desktop {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  .navlink {
    color: #fff;
  }
}
.header-mobile {
  display: inline-block;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
