.header-title {
  flex-grow: 1;
  // background-color: #282c34;
  // display: flex;
  // flex-direction: column;
  // align-items: left;
  // justify-content: center;
  // font-size: calc(10px + 2vmin);
  font-family: $font-2 !important;
}
.header {
  display: flex;
}
.drawer-paper {
  width: 280px;
}
