body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  min-width: 320px;
  background: rgb(240, 247, 0);
  background: linear-gradient(
    180deg,
    rgba(240, 247, 0, 1) 0%,
    rgba(241, 226, 3, 1) 11%,
    rgba(255, 141, 0, 1) 100%
  );
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-2;
}
